[user]
	name = odan
	email = odan3240@gmail.com
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[alias]
    graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
