[user]
	name = odan
	email = odan3240@gmail.com
	signingkey = /Users/odan/.ssh/id_ed25519.pub

[include]
	path = ~/.gitconfig.local

[core]
    excludesfile = ~/.gitignore

[alias]
    graph = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --date-order

[pull]
    ff = only

[init]
	defaultBranch = main

[ghq]
	root = ~/source

[gpg]
	format = ssh

[commit]
	gpgsign = true

